@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
* {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #394166;
  font-size: 20px;
  max-width: 600px;
}

a:any-link {
  text-decoration: none;
}

body {
  background-color: #fefdf8;
}

.bold {
  font-weight: bold;
}

.light-italics {
  font-weight: lighter;
  font-style: italic;
}

@media only screen and (max-width: 350px) {
  * {
    font-size: 18px;
  }
}