@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:ital,wght@0,400;0,700;1,300&display=swap");
* {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #394166;
  font-size: 20px;
  max-width: 600px;
}

a:any-link {
  text-decoration: none;
}

body {
  background-color: #fefdf8;
}

.bold {
  font-weight: bold;
}

.light-italics {
  font-weight: lighter;
  font-style: italic;
}

@media only screen and (max-width: 350px) {
  * {
    font-size: 18px;
  }
}
nav {
  height: 10vh;
  padding: 50px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 160px;
}

.button-primary {
  border: 2px solid #394166;
  border-radius: 5px;
  padding: 15px 20px;
}

.button-secondary {
  border-radius: 5px;
  padding: 15px 20px;
  color: #fefdf8;
  background-color: #394166;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

footer {
  background-color: #fffcdd;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;
}

@media only screen and (max-width: 350px) {
  nav img {
    width: 130px;
  }

  .button-primary {
    padding: 10px 15px;
  }
}
h1 {
  text-align: center;
  font-size: 35px;
  padding: 50px 30px;
  font-family: "Fredoka One", cursive;
  color: #1bb9f0;
}

h2,
h3,
h4,
h5 {
  font-size: 30px;
}

main {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section#top-section {
  text-align: center;
}
main section#top-section img {
  width: 250px;
  margin: 0 auto;
}
main section#top-section h2 {
  padding: 50px 0;
}
main section#top-section h3 {
  color: #1bb9f0;
}
main section#top-section p {
  padding: 50px 0;
}
main section#bottom-section h4 {
  padding: 50px 0;
  text-align: center;
}
main section#bottom-section div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
}
main section#bottom-section div img {
  width: 150px;
  max-height: 150px;
}
main section#bottom-section div p {
  width: 55%;
}
main section#bottom-section a {
  margin: 50px auto;
}

@media only screen and (max-width: 350px) {
  main section#bottom-section div img {
    max-height: 120px;
  }
}